<%- include("header")%>
<h2>This is About page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat illum tempore quod ipsam quae recusandae vel perspiciatis accusantium. Doloremque aperiam nam doloribus eius possimus. Provident suscipit similique ullam earum voluptatibus cumque libero expedita, consequuntur eveniet nihil eius dignissimos repellat accusamus vero in alias tempora? Tempore architecto rerum recusandae natus.</p>
<%-include("footer")%>